$blue:  rgba(24, 151, 214, 0.95);
$purple: rgba(232, 15, 84, 0.932);
$lightgreen: rgba(5, 120, 5, 0.961);
$darkgreen: rgba(7, 100, 29, 0.932);
$orange: rgba(255, 94, 0, 0.925);
$darkblue: rgba(64, 60, 132, 0.2);