@import 'variables';

body{
    background: $blue;
    color: white;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
    'Trebuchet MS', sans-serif;
}


// sveikinimo teksto stilius
h1{
    padding-top: 20vh;
    font-size: 5vw;
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:600;
    text-shadow: 1px 1px 1px rgba(84, 81, 81, 0.913);
    z-index: 1000;
    margin: 0;
}


// sveikinimo teksto animacija
.fadeIn{
    opacity: 0;
    animation: fadeIn 1s 2s ease-in forwards;
}

// animation name turi sutapti su keyframes
@keyframes fadeIn {
    100% {opacity: 1; }
}

// sveikinimo stilizavimo teksto pabaiga
.sun{
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 6rem;
    height: 6rem;
    background-color: rgba(247, 236, 16, 0.927);
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(216, 240, 5);
}

// saule perkeliu i sona x asyje
.slideIn{
    transform: translateX(-5rem);
    animation: slideIn 3s ease-out forwards;
}

// saule atslenka i numtatyta pradine pozicija
@keyframes slideIn{
    100% { transform: translateX(0); }
}
// saules stiliaus pabaiga

// atskiros gelytes piesimas
.flower{
    display:flex;
    flex-direction: column;
    align-items:center;
    

    &_head{
        margin-top: 8rem;
        right: 8rem;
        height: 6rem;
        width: 6rem;
        background: $purple;
        border-radius: 50%;
        
    }

    &_stem{
        width: 1rem;
        height: 20rem;
        max-height: 10%;
        background: $lightgreen;

        &::after {
            content: '';
            margin-left: 0.5rem;
            margin-top: 1rem;
            width: 3em;
            height: 3em;
            display: block;
            background: $darkgreen;
            border-radius: 2em 0 2em 0em;
        }  
        
    }

}

// piesiu drugeli

// .buterfly{
//     display:flex;
//     flex-direction: column;
//     align-items:center;

//     &_wing{
//         margin-top: 10rem;
//         right: 8rem;
//         height: 3rem;
//         width: 3rem;
//         background: $orange;
//         border-radius: 50%;
//     }

// }

